html {
  scroll-behavior:smooth;
}


.top-links{
  font-family: 'Monoton';
  margin:10px 50px 0px 50px;
  font-size: 25px;
  color:  #45b29a;

}
.top-links:hover{
  color:#fff;
}

.for-top{
  margin-top: 30px;
}

a{
  text-decoration: none;
}


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #45b29a;
  font-size: 320%;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #45b29a;
  font-size: 300%;
  font-family: 'Sacramento', cursive;
}

h3 {
  font-size: 170%;
  color: #74d4c0;
  font-family:'Montserrat';
}

hr {
  width: 5%;
  border-style: none;
  border-top: 4px dotted;
  border-top-color: silver;
}

p {
  font-family: Monotono;
  font-size: 150%;
}

.define {
  font-family: 'Monoton', sans-serif;
  word-spacing: 15px;
  position: relative;
  bottom: 50px;
}

.my {
  height: 15%;
  width: 15%;
  border-radius: 100%;
}

.top-container {
  position: relative;
  padding-top: 100px;
  color: #45b29a;
  padding: 1em 0;
  font-size: 180%;
  font-weight: 400;
}

.top-cloud {
  position: absolute;
  bottom: 70%;
  right: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 5%;
}

.land {
  position: relative;
  bottom: -37px;
}

.profile {
  padding: 5%;
  background-color: #fdd998;
}

.skills {
  padding: 2%;
  background-color: #dcedc1;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
  text-align: left;
  line-height: 1.7;
}

.skills-image {
  height: 25%;
  width: 15%;
  margin-top: 30px;
  margin-left: 0%;
  margin-right: 50px;
  float: left;
}

.skills-image-2 {
  height: 25%;
  width: 15%;
  border-radius: 100%;
  margin-top: 40px;
  margin-right: 0%;
  margin-left: 50px;
  float: right;
}

.contact-me {
  padding: 2%;
  background-color: #ececec;
}

.wrapper {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

.bottom-container{
  padding-top:20px;
  background-color: #222222;
}

.footer-link{
  color: #381460;
}
.l1{
  margin-right: 80px;
}

.l3{
  margin-left: 80px;
}

.insta{
  margin:20px;
  height: 50px;
  width: 50px;
}

.insta:hover{
  opacity: .5;
}


.button    {
background:    #15d798;
background:    linear-gradient(#15d798, #073763);
border-radius: 11px;
padding:       15px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 22px/1 "Open Sans", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
}

.button:hover{
  background: #a8e6cf;
}
