.whitish{
  background-color: #edf4f2;
}
.project:hover {
  opacity: .8;
  transform: scale(1.1);
  transition: .3s;
}

.forQuotePadding{
  padding-bottom: 0px;
}

.container{
  padding-top: 20px;
}

body {
  background-image: url("images/wall.jpg");
  background-size: cover;
}

a {
  target: "_blank";
}

:root {
  --neon-border-color: #08f;
}

.header {
  background-color: black;
}

.head{
  text-align: center;
}

h1 {
  border-width: 2.5px;
  border-style: solid;
  border-color: white;
  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--neon-border-color),
    inset 0 0 2rem var(--neon-border-color),
    0 0 4rem var(--neon-border-color),
    inset 0 0 4rem var(--neon-border-color);
  display: inline-block;
  width: 700px;
  border-radius: 2rem;
  background-color: black;
  margin-top: 60px;
  text-shadow: 0 0 6px white;
  text-align: center;
  color: #45b29a;
  font-family: 'Monoton', serif;
}

.neon {
  color: #FB4264;
  font-size: 2.5vw;
  line-height: 6vw;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}


.neonQ {
  color: #FB4264;
  font-size: 3.8vw;
  font-family: 'Qwigley', cursive;
  padding-top: 12px;
  padding-bottom: 0px;
  text-shadow: 0 0 3vw #F40A35;
}

.neonQ {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}
.neonN {
  color: #FB4264;
  font-size: 2.0vw;
    font-family: 'Qwigley', cursive;
  margin-bottom: 10px;
  text-shadow: 0 0 3vw #F40A35;
}

.neonN {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}
@keyframes neon {

  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128;
    color: #FED128;
  }

  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B;
    color: #806914;
  }
}

@media (max-width:1521px){
  .neon{
    font-size: 4.5vw;
    padding: 15px;
  }
  .neonQ{
    font-size: 5.5vw;
  }
  .neonN{
    font-size: 4vw;
  }
}
