.project:hover {
  opacity: .8;
  transform: scale(1.1);
  transition: 1s;
}

body{
    background-image: url("wall.jpg");
    background-size:cover;
}

a{
  target:"_blank";
}

:root{
    --neon-border-color: #08f;
}

.header{
  background-color: black;
}


h1 {
  border-width: 2.5px;
  border-style: solid;
  border-color: white;


  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--neon-border-color),
    inset 0 0 2rem var(--neon-border-color),
    0 0 4rem var(--neon-border-color),
    inset 0 0 4rem var(--neon-border-color);


  margin-left: 520px;
  display: inline-block;
  width: 700px;
  border-radius: 2rem;
  background-color: black;
  margin-top: 60px;
   text-shadow: 0 0 6px white;
  text-align: center;
  color: #45b29a;
  font-family: 'Monoton', serif;

}



.neon {

  color: #FB4264;
  font-size: 2.5vw;
  line-height: 6vw;
  text-shadow: 0 0 3vw #F40A35;
}


.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B;
    color: #806914;
  }
}
